language: java
jdk:
  - oraclejdk9

# Just to have a look where we are
env:
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/ui
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/service/cart
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/service/user
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/repository/order
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/repository/cart
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/repository/product
    - COVERAGE=0.5 BUILD_TARGET=./monolithic/repository/user

install:
  - ./gradlew clean jar
  
script:
  - ./gradlew test

#script:
  #- echo 'testing coming soon'
  
before_deploy:
  - COVERAGE=0.30 ./gradlew test jacocoTestCoverageVerification

after_success:
  - ./gradlew jacocoTestReport
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

